
<!DOCTYPE html>
<!-- CSS only -->
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Smokq</title>
  </head>
  <body>
    <div class="container py-5">
        <div class="row">
          <div class="col-sm py-5">
            <h2>Hello {{ user }}</h2>
            <p>You are not smoking for: 3 days</p>
            <div id="app"></div>
            <form method="get">
                <button formaction="logout" type="submit" class="btn btn-outline-secondary" value="logout">Log Out</button>
            </form>
          </div>
          <div class="col-sm-6 text-justify">
            <h1>Fact!</h1>
            <p>You have decided to quit this horrible habit. It is not an easy way
                so you need to be strong. Usually it takes several attempts to try.
                This site will help you. Look at facts about smoking when you want to 
                smoke. Achievements will alow you not to throw that hard decision.
                Also you can look at the graph and see how much your life will extend.
            </p>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="app.js"></script>
  </body>
</html>